
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}



.registration-content{
  height: 85%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 5px 48px -6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
}

.registration-form{
  background: #4779AF ;
  padding: 50px;
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.registration-form h1{
display: block;
color: white;
padding: 20px 0;
font-weight: 700;
font-size: 30;
}
input{
  
  border-radius: 20px;
  border: none;
  height: 3em;
  font-size: 15px;
  margin: 5px 10px;
  padding: 0 30px;
  
 
}


select{
  
  border-radius: 20px;
  border: none;
  height: 3em;
  font-size: 15px;
  margin: 5px 10px;
  padding: 0 30px;
}

textarea{
  width: 75%;
  border-radius: 30px;
  border: none;
  height: 4em;
  font-size: 15px;
  margin: 10px 10px;
  padding: 0 30px;
  
  grid-template-columns: 15% 85%;
}

.img{
  width: 50%;
  height: 100%;
  padding: 0 50px;
}

.img img{
  width: 100%;
  height: 100%;
}