<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dr Lee </h5>
        <p class="card-text">Office Hours: 7am-3pm, Mon - Fri
        </p>
      </div>
      <p class="card-text">Location: Greater Sydney
    </p>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dr Samantha </h5>
        <p class="card-text">Office Hours: 9am-5pm, Mon - Fri
        </p>
      </div>
      <p class="card-text">Location: Southern Sydney
    </p>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dr Jones </h5>
        <p class="card-text">Office Hours: 9am-5pm, Mon - Fri
        </p>
      </div>
      <p class="card-text">Location: Inner Sydney
    </p>
      <div class="card-footer">
      </div>
    </div>
  </div>