<nav class="navbar bg-light navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.pngkey.com/png/full/33-337638_medicine-logo-png-1-medical-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    E-HEALTH
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="welcome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/patients/register">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/doctors/doctorregister">Doctors</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Doctor Login</h1>
       
        <form action="/doctors/doctorlogin" method="POST">
          <div class="form-group">
            <label for="demail">Email</label>
            <input
              type="email"
              id="demail"
              name="demail"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="dpassword">Password</label>
            <input
              type="password"
              id="dpassword"
              name="dpassword"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/doctors/doctorregister">Register</a>
        </p>
      </div>
    </div>
  </div>